$ms-font-family-fallbacks: Arial, sans-serif;

.leaveBalancesAndClaims {
  overflow: hidden;
  padding: 1em;
  color: var(--bodyText);
  margin-bottom: 10px; /* Add margin-bottom to increase distance between web parts */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  color: #000000;
  font-size: 20px; /* Increase font size */
  font-weight: 600; /* Use semi-bold (600) instead of bold */
  margin-bottom: 10px;
}

.sectionHeader {
  font-size: 16px;
  margin-bottom: 5px;
}

.leaveInfo, .claimsInfo {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.leaveText {
  margin-left: 0.5em;
  margin-right: 5px;
}

.annualLeave, .outstandingClaims, .claimsProcessType, .totalClaimsValue {
  font-size: 14px;
  margin-top: 10px;
  align-items: center;
}

.teams {
  font-family: $ms-font-family-fallbacks;
}

.icon {
  height: 3em;
  width: 3em;
  margin-right: 0.5em;
  border-radius: 25%; /* Apply border-radius to create rounded edges */
}

.leaveClaimsContainer {
  display: flex;
}

.leaveItem, .claimsItem {
  margin-right: 20px; /* Add margin-right to increase distance between Leave Balances and Claims */
}

/* New styling classes for leave balances and claims */
.totalClaims {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.info {
  margin-right: 20px; /* Add margin-right to increase distance between Leave Balances and Claims */
}

.content {
  display: flex;
}

.info:first-child {
  margin-right: 20px; /* Add margin-right to separate Leave Balances and Claims */
}

















