/* LeaveBalancesAndClaims.module.scss */

@import '~@fluentui/react/dist/sass/References.scss';

.leaveBalancesAndClaims {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

/* Styling for Leave Balances */
.header {
  color: #0078d4;
  font-size: 24px;
  margin-bottom: 10px;
}

.leaveInfo {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}

.annualLeave {
  font-size: 18px;
  margin-top: 10px;
}

/* Styling for Claims */
.claimsInfo {
  background-color: #f9fafb;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px; /* Adjust as needed */
}

.outstandingClaims {
  font-size: 18px;
  color: #e20074; /* Change color as desired */
}

